<% provide(:title, 'Sign in')%>
<div class="container">
	<div class="row">
		<div class="col-lg-6 col-lg-offset-3">
            <h1 style="text-align: center; font-weight:900">Sign in</h1>
            			
			<%= form_for(:session, url: sessions_path) do |f| %>
				<%= f.label :email , class: "lbn_sn"%>
				<%= f.text_field :email ,class: "form-control input_sn" %>

				<%= f.label :password , class: "lbn_sn"%>
                <%= f.password_field :password ,class: "form-control input_sn" %>
                
				<%= f.submit "Sign in", class: "btn btn-large btn-primary" %>
            <% end %>			
            <hr>
            <p>New user? <%= link_to "Sign up now!", signup_path, class: "link_signin" %></p>
		</div>
	</div>
</div>