<% provide(:title, @user.name)%>
<div class="row">
  <% if flash.any? %>
    <% flash.each do |key, value| %>
      <div class="thongbaoloi alert <%= key %>" role="alert"><%= value %></div>		  
    <% end %>				
    <% flash.discard %>		
  <% end %>
    <aside class="span4">
      <section>
        <div>
          <%= gravatar_for @user %>
          <h2 style="display: inline-flex;" class="pp"><%= @user.name %></h2>
        </div>
      </section>
    </aside>

    <!--  -->
</div>
<h4>
  Email: <%= @user.email%>
</h4>